{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SlayHairClassic - {% block title %} {% endblock %}</title>
    <link rel="icon" href="{% static 'img/Fevicon.jpg' %}" type="image/jpg">
    <link rel="stylesheet" href="{% static 'vendors/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/themify-icons/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/nice-select/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/linericon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/my.css' %}">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous"
      src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0"></script>

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous"
      src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v5.0"></script>
  </head>
<body>
  <!--================ Start Header Menu Area =================-->
  {% include "navbar.html" %}
	<!--================ End Header Menu Area =================-->
  {% block content %}

  {% endblock content %}

  {% block extra_body %}
  {% endblock %}

  <!--================ Start footer Area  =================-->	
  {% include "footer.html" %}
	<!--================ End footer Area  =================-->
  {% include "scripts.html" %}
  {% block extra_scripts %}
  {% endblock extra_scripts %}
</body>
</html>